html {
  height: 100vh;
}

body {
  background: rgb(240, 253, 255);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  margin: auto;
  width: 100%;
}

.App header {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -20%;
}

.App-link {
  color: #61dafb;
}

.App button {
  display: block;
  color: #000;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(240, 253, 255);
  padding: 10px;
  text-align: left;
  border: 0;
  border-radius: 6px;
}

.App button:hover {
  background: rgb(15, 66, 207);
  color: rgb(255, 255, 255);
}

.App button:focus {
  background: rgb(60, 112, 255);
  color: rgb(255, 255, 255);
}